.article {
  background-color: #eaeaea;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 20px;
  min-height: 266px;
}

@media (min-width: $tablet-width) {
  .article {
    min-height: 372px;
    padding: 55px 81px 60px 62px;
  }
}

@media (min-width: $desktop-width) {
  .article {
    width: 570px;
    min-height: 297px;
    padding: 47px 52px 60px 52px;
  }
}

