.contacts__text {
  display: flex;
  justify-content: space-between;
  min-height: 114px;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    position: absolute;
    bottom: 100px;
    left: 110;
    width: 570px;
    padding: 62px 76px;

    background-color: $white;
  }
}

