.contacts__title {
  width: 124px;
  min-width: 124px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 154px;
    min-width: 154px;

    font-size: 20px;
    line-height: 25px;
  }
}
