.article {
  min-height: 266px;
  padding: 22px 20px;

  background-color: $gray;

  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 50px 80px 60px 62px;
  }
  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 297px;
    padding: 46px 52px 60px 52px;
  }
}
